<template>
    <v-container>
        <h1>Your TOken</h1>
        <span>{{token}}</span>

        <h1>Message</h1>
        <h2>{{message}}</h2>
    </v-container>
</template>
<script>
const URL = "http://localhost:3001";
export default {
    data: () => ({

        token: "",
        message: "",

    }),
    async created() {
        await this.loginAPI();
        this.callwithJWT();
    },
    methods: {
        async loginAPI() {
            let apiuser = { username: "admin", password: "12345" };
            const res = await this.$axios.post(URL + "/login", apiuser);
            this.token = await res.data.token;
            console.log(this.token)
        },
        async callwithJWT() {
            let JWTConfig = { headers: { Authorization: "Bearer " + this.token } }
            try {
                const res = await this.$axios.get(URL + "/super-secure-resource", JWTConfig);
                console.log(res)
                this.message = res.data.message;
            } catch (err) {
                this.message = err;
            }
        }
    },
}
</script>
