<template>
    <v-container>
       <v-card>
        <v-card-title>
            My Chat Name: <v-text-field v-model="myname"></v-text-field>
        </v-card-title>
        <v-card-text>
            <div v-for="msg in messages" :key="msg">
                {{msg}}
            </div>
        </v-card-text>
       </v-card>
            <v-text-field v-model="message"></v-text-field>
            <v-btn class="btn" type="button" @click="sendMessage">Send</v-btn>

    </v-container>
</template>
  
<script>
export default {
    data() {
        return {
            message: '',
            myname:'test',
            messages: [],
            socket: null,
        }
    },
    mounted() {
        this.socket = this.$nuxtSocket({
            // channel: '/index'
        })
        /* Listen for events: */
        this.socket
            .on('replyMessage', (msg, cb) => {
                console.log("From Server:" + msg)
                this.messages.push(msg)
            })
    },
    methods: {
        sendMessage() {
            this.socket.emit('sendMessage', this.myname + ":"+ this.message)
            this.message = ''
        }
    }
}
</script>
  
<style scoped>
.form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.btn {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

.message {
    margin-left: 50px;
}
</style>