<template>
    <v-container>
        <h1>Local TOken</h1>
        <span>{{token}}</span>
        <h2>Store Token</h2>
        <v-btn @click="saveTokenToStore">Save Token</v-btn>
        <br/>
        <span>{{$store.state.token}}</span>
        <h1>Message</h1>
        <h2>{{message}}</h2>

        <h1>
            <nuxt-link to="/teststore/nextpage">Next Page</nuxt-link>
        </h1>
    </v-container>
</template>
<script>
const URL = "http://localhost:3001";
export default {
    data: () => ({

        token: "",
        message: "",

    }),
    async created() {
        await this.loginAPI();
        this.callwithJWT();
        // this.saveTokenToStore();
    },
    methods: {
        async loginAPI() {
            let apiuser = { username: "admin", password: "12345" };
            const res = await this.$axios.post(URL + "/login", apiuser);
            this.token = await res.data.token;
            console.log(this.token)
        },
        async saveTokenToStore(){
           await this.$store.commit("setToken",this.token)
        },
        async callwithJWT() {
            let JWTConfig = { headers: { Authorization: "Bearer " + this.token } }
            try {
                const res = await this.$axios.get(URL + "/super-secure-resource", JWTConfig);
                console.log(res)
                this.message = res.data.message;
            } catch (err) {
                this.message = err;
            }
        }
    },
}
</script>
