<template>
    <v-container>
        <h1>Local TOken</h1>
        <span>{{token}}</span>
        <h2>Store Token</h2>
        <span>{{$store.state.token}}</span>
        <h1>Message</h1>
        <h2>{{message}}</h2>

        <h1>
            <nuxt-link to="/teststore/">Back</nuxt-link>
        </h1>
    </v-container>
</template>

<script>
    const URL = "http://localhost:3001";
    export default {
        data: () => ({
    
            token: "",
            message: "",
    
        })
    }
</script>