<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-toolbar>

          Pokedex
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
          </v-text-field>

        </v-toolbar>
      </v-col>
    </v-row>


    <v-row>
      Favorite: <v-spacer></v-spacer>
      <div class="pa-1" v-for="pk2 in favDex">
        <v-img height="40px" width="40px" :src="pk2.sprites.animated">
        </v-img>
      </div>
    </v-row>


    <v-row>
      <v-col cols="12" lg="2" md="3" sm="6" xs="12" v-for="(pk, idx) in this.filterDex" :key="idx">

        <v-card>
          <v-img height="160px" style="padding: 20px" :src="pk.sprites.large" >
          </v-img>
          <v-card-title>{{ pk.name }}</v-card-title>
          <v-card-subtitle class="pb-0"> {{pk.type}}</v-card-subtitle>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="orange" @click="addFav(pk)" text> Add Favorite </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

  </v-container>
</template>
<script>
// const URL =
//   "https://raw.githubusercontent.com/joseluisq/pokemons/master/pokemons.json";

const URL = "./data/pokedex.json";
export default {
  data: () => ({
    pokedex: [],
    search: "",
    filterDex: [],
    favDex: [],
    images:[],
  }),
  created() {
    this.initiaize();
    this.preload(); //preload images
  },
  methods: {
    async initiaize() {
      try {
        const res = await this.$axios.get(URL);
        this.pokedex = res.data.results;
        this.filterDex = this.pokedex;
      } catch (err) {
        console.log(err);
      }
    },
    preload() {
      for (var i = 0; i < this.pokedex.length; i++) {
        this.images[this.pokedex[i].name] = new Image();
        this.images[this.pokedex[i]].src = this.pokedex[i].sprites.large;
      }
    },
    addFav(pk) {
      this.favDex.push(pk)
      this.$store.commit("addFav",pk)
      console.log(this.favDex)
    }
  },
  watch: {
    search(val) {
      this.filterDex = this.pokedex.filter((pk) => {
        return pk.name.toLowerCase().indexOf(val.toLowerCase()) != -1;
      })
    }
  }
};
</script>
  