<template>
    <v-card>
    <v-card-actions>
      <v-btn @click="checkPort">Check Port</v-btn>
      <v-btn @click="checkGetAll">Check All</v-btn>
      <v-btn @click="checkGetOne">Check One</v-btn>
        <v-btn @click="checkInsert">Check Insert</v-btn>
        <v-btn @click="checkUpdate">Check Update</v-btn>
        <v-btn @click="checkDelete">Check Delete</v-btn>
    </v-card-actions>
    <v-card-title>
      <v-btn @click="checkAllServices">Check All Service</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      
    </v-card-title>
    <v-data-table
      ref="mytable"
      :headers="headers"
      :items="stdlist"
      :search="search"
      item-key="id"
      :sort-by="['id','getport', 'getall','getone','checkinsert','checkupdate','checkdelete']"
    :sort-desc="[false,true, true, true, true, true, true]"
    multi-sort
      :items-per-page="120"
    >
    <template v-slot:item.id="{ item }">
      <a :href="'http://selab.mfu.ac.th:' +item.port+'/'+item.name+'_' + item.id" target="_blank">
        {{ item.id }}
      </a>
    </template>
    <template v-slot:item.name="{ item }">
      <a :href="'/checkwk07/selfcheck?id=' +item.id+'&name='+item.name" target="_blank">
        {{ item.name }}
      </a>
    </template>
    <template v-slot:item.getport="{ item }">
      <v-chip
        :color="(item.getport=='Fail')?'red':'green'"
        dark
      >
        {{ item.getport }}
      </v-chip>
    </template>
    <template v-slot:item.getall="{ item }">
      <v-chip
        :color="(item.getall=='Fail')?'red':'green'"
        dark
      >
        {{ item.getall }}
      </v-chip>
    </template>
    <template v-slot:item.getone="{ item }">
      <v-chip
        :color="(item.getone=='Fail')?'red':'green'"
        dark
      >
        {{ item.getone }}
      </v-chip>
    </template>
    <template v-slot:item.checkinsert="{ item }">
      <v-chip
        :color="(item.checkinsert=='Fail')?'red':'green'"
        dark
      >
        {{ item.checkinsert }}
      </v-chip>
    </template>

    <template v-slot:item.checkupdate="{ item }">
      <v-chip
        :color="(item.checkupdate=='Fail')?'red':'green'"
        dark
      >
        {{ item.checkupdate }}
      </v-chip>
    </template>

    <template v-slot:item.checkdelete="{ item }">
      <v-chip
        :color="(item.checkdelete=='Fail')?'red':'green'"
        dark
      >
        {{ item.checkdelete }}
      </v-chip>
    </template>
    </v-data-table>
  </v-card>
    <!-- <v-container>
        <v-row>
            <v-col cols="12" v-for="st in stdlist" :key="st.id">
                <span>{{st.section}}</span>
                 <span>{{st.id}}</span>
                 <span>{{st.getport}}</span>
                 <span>{{st.getall}}</span>
                  <span>{{st.getone}}</span>
                  <span>{{st.checkinsert}}</span>
                  <span>{{st.checkupdate}}</span>
                  <span>{{st.checkdelete}}</span>
            </v-col>

        </v-row>
    </v-container> -->
</template>
<script>

const URL = "./data/students.json"
const TIMEOUT=500;

export default {
    data: () => ({
        stdlist: [],
        search: '',
        loading:false,
        headers: [
          {
            text: 'Section',
            align: 'start',
            // filterable: false,
            value: 'section',
          },
          { text: 'ID', value: 'id' },
          { text: 'Name', value: 'name' },
          { text: 'Port', value: 'port' },
          { text: 'Ping', value: 'getport' },
          { text: 'GetAll', value: 'getall' },
          { text: 'GetOne', value: 'getone' },
          { text: 'Insert', value: 'checkinsert' },
          { text: 'Update', value: 'checkupdate' },
          { text: 'Delete', value: 'checkdelete' },
        ],
    }),
    async created() {
        await this.initialize();
        // this.checkPort();
        // this.checkGetAll();
        // this.checkGetOne();
        // await this.checkInsert();
        // await this.checkUpdate();
        // window.setTimeout(this.checkUpdate,5000)
        // window.setTimeout(this.checkDelete,10000)
 
        
        // await this.checkDelete();
        // window.setTimeout(this.$forceUpdate,20000)
        // this.loading=true;
    },
    methods: {
        async initialize() {

          
            const res = await this.$axios.get(URL);
            this.stdlist = await res.data;
            console.log(this.stdlist)
        },
        async checkAllServices(){
             this.checkPort();
            await this.checkGetAll();
            await this.checkGetOne();
            await this.checkInsert();
            await this.checkUpdate();
            await this.checkDelete();
        },
        async checkPort() {
            for (var idx in this.stdlist) {
                // console.log(st)
                var st = this.stdlist[idx]

                this.stdlist[idx].getport = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port  + "/" + st.name + "_" + st.id;

                try {
                    var res = await this.$axios.get(STD_URL, { timeout: TIMEOUT })
                    if (res) {                 
                            this.stdlist[idx].getport = "Pass"
                    }


                } catch (err) {
                    this.stdlist[idx].getport = "Fail"
                }
                
                // this.$forceUpdate();
            }
            // this.$parent.refresh()
        },

        async checkGetAll() {
            for (var idx in this.stdlist) {
                // console.log(st)
                var st = this.stdlist[idx]

                this.stdlist[idx].getall = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id;

                try {
                    var res = await this.$axios.get(STD_URL, { timeout: TIMEOUT })
                    if (res.data.response.length > 0) {
                        console.log(STD_URL)
                        console.log(res.data)
                        if (res.data.response[0].id == st.id) {
                            this.stdlist[idx].getall = "Pass"
                        }
                    }


                } catch (err) {
                    this.stdlist[idx].getall = "Fail"
                }
                this.$forceUpdate();
            }
        },
        async checkGetOne() {
            for (var idx in this.stdlist) {
                var st = this.stdlist[idx]

                this.stdlist[idx].getone = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/" + st.id;
                try {
                    var res = await this.$axios.get(STD_URL, { timeout: TIMEOUT })
                    if (res.data.response.id == st.id) {
                        this.stdlist[idx].getone = "Pass"
                    }
                } catch (err) {
                    this.stdlist[idx].getone = "Fail"
                }
                this.$forceUpdate();
            }
        },
        async checkInsert() {
            for (var idx in this.stdlist) {
                var st = this.stdlist[idx]
                var newdata = {"id":"9999999999","name":"Vittayasak","email":"test@gmail.com"}
                this.stdlist[idx].checkinsert = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/";
                try {
                    var res = await this.$axios.post(STD_URL, newdata,{ timeout: TIMEOUT })
                    if (res) {
                        var res2 = await this.$axios.get(STD_URL+"9999999999", { timeout: TIMEOUT });
                        if(res2.data.response.id == "9999999999"){
                            this.stdlist[idx].checkinsert = "Pass"
                        }
                        
                    }
                } catch (err) {
                    this.stdlist[idx].checkinsert = "Fail"
                }
                this.$forceUpdate();
            }
        },
        async checkUpdate() {
            for (var idx in this.stdlist) {
                var st = this.stdlist[idx]
                var newdata = {"name":"Aj.Bee","email":"test@gmail.com"}
                this.stdlist[idx].checkupdate = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/";
                try {
                    var res = await this.$axios.put(STD_URL+"9999999999", newdata,{ timeout: TIMEOUT })
                    if (res) {
                        var res2 = await this.$axios.get(STD_URL+"9999999999", { timeout: TIMEOUT });
                        if(res2.data.response.name == "Aj.Bee"){
                            this.stdlist[idx].checkupdate = "Pass"
                        }
                        
                    }
                } catch (err) {
                    this.stdlist[idx].checkupdate = "Fail"
                }
                this.$forceUpdate();
            }
        }, async checkDelete() {
            for (var idx in this.stdlist) {
                var st = this.stdlist[idx]
               
                this.stdlist[idx].checkdelete = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/";
                try {
                    var res = await this.$axios.delete(STD_URL+"9999999999",{ timeout: TIMEOUT })
                    if (res) {
                        var res2 = await this.$axios.get(STD_URL, { timeout: TIMEOUT });
                        if(res2.data.response.length==1){
                            this.stdlist[idx].checkdelete = "Pass"
                        }
                        
                    }
                } catch (err) {
                    this.stdlist[idx].checkdelete = "Fail"
                }
                this.$forceUpdate();
            }
        }
    }
}
</script>
