<template>
    <v-card>

        <v-card-title>
            <v-row>
                <v-col cols="4"><v-text-field v-model="stdid" counter="10" label="Student ID:"></v-text-field></v-col>
                <v-col cols="4"> <v-text-field v-model="stdname" label="Student Name:"></v-text-field></v-col>
                <v-btn @click="checkAllService">Check All Services</v-btn>
            </v-row>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-col cols="3">Service URL:</v-col>
                <v-col cols="9"><a :href="serviceurl" target="_blank">{{serviceurl}}</a></v-col>
            </v-row>
           
        </v-card-text>
   
        <v-card-text>
            <v-row>
                <v-col cols="3" ><h2>Check</h2></v-col>
                <v-col cols="3"><h2>Result</h2></v-col>
                <v-col cols="6"><h2>Note</h2></v-col>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <v-btn @click="checkPort">Check Port</v-btn>
                </v-col>
                <v-col cols="3">
                    <v-chip :color="(checkport=='Fail')?'red':'green'" dark>{{checkport}}</v-chip>
                </v-col>
                <v-col cols="6">{{checkport_note}}</v-col>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <v-btn @click="checkGetAll">Check GetAll</v-btn>
                </v-col>
                <v-col cols="3">
                    <v-chip :color="(checkgetall=='Fail')?'red':'green'" dark>{{checkgetall}}</v-chip>
                </v-col>
                <v-col cols="6">{{checkgetall_note}}</v-col>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <v-btn @click="checkGetOne">Check GetOne</v-btn>
                </v-col>
                <v-col cols="3">
                    <v-chip :color="(checkgetone=='Fail')?'red':'green'" dark>{{checkgetone}}</v-chip>
                </v-col>
                <v-col cols="6">{{checkgetone_note}}</v-col>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <v-btn @click="checkInsert">CheckInsert</v-btn>
                </v-col>
                <v-col cols="3">
                    <v-chip :color="(checkinsert=='Fail')?'red':'green'" dark>{{checkinsert}}</v-chip>
                </v-col>
                <v-col cols="6">{{checkinsert_note}}</v-col>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <v-btn @click="checkUpdate">Check Update</v-btn>
                </v-col>
                <v-col cols="3">
                    <v-chip :color="(checkupdate=='Fail')?'red':'green'" dark>{{checkupdate}}</v-chip>
                </v-col>
                <v-col cols="6">{{checkupdate_note}}</v-col>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <v-btn @click="checkDelete">Check Delete</v-btn>
                </v-col>
                <v-col cols="3">
                    <v-chip :color="(checkdelete=='Fail')?'red':'green'" dark>{{checkdelete}}</v-chip>
                </v-col>
                <v-col cols="6">{{checkdelete_note}}</v-col>
            </v-row>
        </v-card-text>
    </v-card>
   
</template>
<script>

export default {
    data: () => ({
        stdid: "",
        stdname: "",
        serviceurl:"",
        checkport: "Fail",
        checkport_note: "",
        checkgetall: "Fail",
        checkgetall_note: "",
        checkgetone: "Fail",
        checkgetone_note: "",
        checkinsert: "Fail",
        checkinsert_note: "",
        checkupdate: "Fail",
        checkupdate_note: "",
        checkdelete: "Fail",
        checkdelete_note: "",

    }),
    async created() {
        await this.initialize();
        // this.getstdparam();
    },
    watch:{
        stdid(val){
            var st = this.getstdparam();
            this.serviceurl = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id;

        },
        stdname(val){
            var st = this.getstdparam();
            this.serviceurl = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id;
        }
    },
    methods: {
        async initialize() {
            if(this.$route.query.id){
              this.stdid=this.$route.query.id;
            }
            if(this.$route.query.name){
              this.stdname=this.$route.query.name;
            }
            var st = this.getstdparam();
            this.serviceurl = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id;

        },
        getstdparam() {
            var id = this.stdid;
            if (id.length == 10) {
                var last3 = id.substring(7, 10);
                let port = 7500 + parseInt(last3);
                console.log(port)
                return { "id": id, "name": this.stdname, "port": port }
            } else {
                return {"id":"Error","name": this.stdname,"port": "error"}
            }
        },
        async checkAllService(){
            await this.checkPort();
            await this.checkGetAll();
            await this.checkGetOne();
            await this.checkInsert();
            await this.checkUpdate();
            await this.checkDelete();
        },
        async checkPort() {

            var st = this.getstdparam();

            this.checkport = "Fail"
            let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id;

            try {
                var res = await this.$axios.get(STD_URL, { timeout: 200 })
                if (res) {
                    this.checkport = "Pass"
                }
            } catch (err) {
                this.checkport = "Fail"
                this.checkport_note = err;
            }

            // this.$forceUpdate();

        },

        async checkGetAll() {
            var st = this.getstdparam();

                this.checkgetall = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id;

                try {
                    var res = await this.$axios.get(STD_URL, { timeout: 200 })
                    if (res.data.response.length > 0) {
                        console.log(STD_URL)
                        console.log(res.data)
                        if (res.data.response[0].id == st.id) {
                            this.checkgetall = "Pass"
                        }
                    }
                } catch (err) {
                    this.checkgetall = "Fail"
                    this.checkgetall_note = err;
                }
                this.$forceUpdate();
          
        },
        async checkGetOne() {
            var st = this.getstdparam();

                this.checkgetone = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/" + st.id;
                try {
                    var res = await this.$axios.get(STD_URL, { timeout: 200 })
                    if (res.data.response.id == st.id) {
                        this.checkgetone= "Pass"
                    }
                } catch (err) {
                    this.checkgetone = "Fail"
                    this.checkgetone_note=err
                }
                this.$forceUpdate();
            
        },
        async checkInsert() {
            var st = this.getstdparam();
                var newdata = { "id": "9999999999", "name": "Vittayasak", "email": "test@gmail.com" }
                this.checkinsert = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/";
                try {
                    var res = await this.$axios.post(STD_URL, newdata, { timeout: 200 })
                    if (res) {
                        var res2 = await this.$axios.get(STD_URL + "9999999999", { timeout: 200 });
                        if (res2.data.response.id == "9999999999") {
                            this.checkinsert = "Pass"
                        }

                    }
                } catch (err) {
                    this.checkinsert = "Fail"
                    this.checkinsert_note = err
                }
                this.$forceUpdate();
            
        },
        async checkUpdate() {
            var st = this.getstdparam();
                var newdata = { "name": "Aj.Bee", "email": "test@gmail.com" }
                this.checkupdate = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/";
                try {
                    var res = await this.$axios.put(STD_URL + "9999999999", newdata, { timeout: 300 })
                    if (res) {
                        var res2 = await this.$axios.get(STD_URL + "9999999999", { timeout: 300 });
                        if (res2.data.response.name == "Aj.Bee") {
                            this.checkupdate = "Pass"
                        }

                    }
                } catch (err) {
                    this.checkupdate = "Fail"
                    this.checkupdate_note = err
                }
                this.$forceUpdate();
            
        }, async checkDelete() {
            var st = this.getstdparam();

                this.checkdelete = "Fail"
                let STD_URL = "http://selab.mfu.ac.th:" + st.port + "/" + st.name + "_" + st.id + "/";
                try {
                    var res = await this.$axios.delete(STD_URL + "9999999999", { timeout: 300 })
                    if (res) {
                        var res2 = await this.$axios.get(STD_URL, { timeout: 300 });
                        if (res2.data.response.length == 1) {
                            this.checkdelete = "Pass"
                        }

                    }
                } catch (err) {
                    this.checkdelete = "Fail"
                    this.checkdelete_note = err
                }
                this.$forceUpdate();
            
        }
    }
}
</script>
